body {
  padding: 0;
  margin: 0;
  background-color: #011425;
}
#header {
  display: flex;
  position: relative;
}
.redbar {
  background-color: #952525;
  width: 523px;
  height: 1px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.logo {
  text-align: end;
  font-size: 30px;
  background-color: #952525;
  height: 120px;
  width: 14.5%;
  font-family: "Lato", sans-serif;
  display: inline-block;
  color: white;
  align-items: flex-end;
}
#name {
  display: flex;
  position: relative;
  float: right;
  font-family: "Lato", sans-serif;
  color: white;
}
.jun {
  position: absolute;
  display: flex;
  right: 1590px;
  bottom: -45px;
  font-size: 80px;
}
.junn {
  position: absolute;
  display: flex;
  right: 1470px;
  bottom: -65px;
  font-size: 50px;
}
.menuNav {
  color: white;

  font-family: "Lato", sans-serif;

  list-style-type: none;
  float: right;
  justify-content: right;
}
li {
  display: flex;
  position: relative;
  float: right;
  top: 35px;
  right: -125px;
  margin: 40px;
  bottom: 2px;
  text-decoration: none;
  color: white;
  font-family: "Lato", sans-serif;
}
.googleresearch {
  width: 400px;
}
.redbar {
  padding: 0;
  margin: 0;
  position: relative;
  display: flex;
  right: -1267px;
  top: -7px;
}
.mySkills {
  display: flex;
  justify-content: space-around;
}
.block {
  display: inline-block;
  width: 400px;
  height: 600px;
  align-items: center;
  background-color: rgb(0, 70, 128);
  margin: 20px;
}
h1 {
  font-size: 100px;
  color: white;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
}
h3 {
  font-size: 40px;
  color: white;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
}
.research {
  font-size: 50px;
  font-family: "Lato", sans-serif;
  color: white;
}
p {
  font-size: 20px;
  color: white;
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: center;
  margin: 30px;
  text-align: center;
}
.logofooter {
  text-align: end;
  font-size: 30px;
  background-color: #952525;
  height: 245px;
  width: 20%;
  font-family: "Lato", sans-serif;
  display: inline-block;
  color: white;
  align-items: flex-end;
  position: relative;
  bottom: 0px;
}
.junfooter {
  position: absolute;
  display: flex;
  right: 1590px;
  bottom: -75px;
  font-size: 80px;
}
.junnfooter {
  position: absolute;
  display: flex;
  right: 1470px;
  bottom: -95px;
  font-size: 50px;
}
.footerbottom {
  padding-top: 400px;
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Lato", sans-serif;

}
.redbarfooter {
background-color: #952525;
width: 523px;
height: 1px;
position: absolute;
bottom: 250px;
right: 0px;
}
.menuNavBottom {
  position: relative;
 right: 640px;
 bottom: 225px;}
 footer {
  position: relative;
  top: 300px;}
  button {
    background-color:  rgb(0, 70, 128); 
    color:white;
    border: 1px solid white;
    position: relative;
    left: 150px;
    font-size: 15px;
    display: flex;
  }
  @media only screen and (max-width: 600px) { 
    header {
      display: none;
    }
    .mySkills {
      background-color: #011425;
      flex-direction: column;
      width: 100%;  
    }